table {
  margin: auto;
}
th,
td {
  padding: 5px 20px;
  border: 1px solid #ddd;
}
th {
  background: #800080;
  color: white;
}
td :nth-child(even) {
  background: #eee;
}

.edit,
.delete {
  cursor: pointer;
}
