@import '../../vars.scss';
.artist-detail {
  margin: 0 auto;
  width: 90%;

  .album-detail {
    & + .album-detail {
      margin-top: 50px;
      border-top: 1px dashed black;
      padding-top: 50px;
    }
  }

  .detail {
    h1.artist-title {
      font-size: 30px;
      text-align: left;
      margin: 0 0 0 0;
      padding: 20px 0 0 0;
    }
    .artist-image {
      @include bradius;
      display: inline-block;
      margin: 25px 20px 0 0;
      overflow: hidden;
      width: 30%;
      img {
        @include bradius;
        max-width: 100%;
      }
    }
    .artist-info {
      display: inline-block;
      width: 60%;
      vertical-align: top;
    }
  }
}

.albums-section {
  border-bottom: 1px solid black;
}

.album-full {
  background: white;
  border: 15px solid white;
  @include bradius;
  height: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 0;
  z-index: 1000;
  top: 0;
  transition: all 1s;
  img {
    transition: all 1s;
    width: 400px;
  }
}
.album-thumbnail {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  width: 100px;
  img {
    @include bradius;
    max-width: 100%;
  }
}
.album-thumbnail:hover {
  .album-full {
    opacity: 1;
    transition: all 0.5s;
    width: 400px;
    height: auto;
    top: -200px;
    img {
      width: 400px;
      transition: all 0.5s;
    }
  }
}
