#new_artist {
  h1 {
    text-align: center;
  }
  form {
    margin: auto;
    width: 400px;

    label {
      display: block;
      font-weight: 700;
    }

    input {
      display: block;
      font-size: 18px;
      padding: 5px;
      margin-bottom: 25px;
    }

    button {
      display: block;
      font-size: 18px;
      padding: 5px 15px;
    }
  }

  .formItem {
    .errorMsg {
      font-size: 11px;
      color: red;
    }
  }
}
