body {
  background: url("/public/rainbow_bg.webp") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1024px;
  width: 70%;
}

table,
form,
main {
  background: white;
  border-top-right-radius: 140px;
  border-top-left-radius: 140px;
  padding-top: 25px;
}

main {
  padding-bottom: 25px;
}

table {
  width: 90%;
}

a,
button {
  cursor: pointer;
}

.button,
button {
  background-color: #8c2c79;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: none;
  padding: 10px 20px;
  transition: all 0.3s;
}

.button:hover,
button:hover {
  background-color: #bc3ea3;
}

.button:hover,
button:hover {
  transition: all 0.3s;
}

.button:visited,
button:visited {
  color: white;
}

form {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 36px;
  margin: 10px auto 0;
  padding: 10px 30px;
  text-align: center;
}

main h1 {
  margin-top: 0;
  padding-top: 0;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 5px;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  padding: 10px 20px !important;
  width: 100%;
}

textarea {
  height: 100px;
}

.form-item {
  position: relative;
}

.form-item .errorMsg {
  border-radius: 5px;
  color: red;
  display: block;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 0;
}

a {
  color: #8c2c79;
  text-decoration: none;
}

a:hover {
  color: #bc3ea3;
}

a:visited {
  color: #8c2c79;
}

a:active {
  color: #8c2c79;
}

.button {
  border-radius: 5px;
  background-color: #8c2c79;
  color: white;
  font-size: 80%;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.button:hover {
  background-color: #bc3ea3;
  transition: all 0.3s;
}

.button.edit {
  font-size: 60%;
}

.button + .button {
  margin-left: 10px;
}

.formItem .errorMsg {
  font-size: 11px;
  color: red;
}

.rainbow-line {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  height: 2px;
  margin: 0 auto 15px;
  width: 90%;
}

.rightNote {
  display: block;
  margin-right: 50px;
  font-size: 90%;
  text-align: right;
}

.rightButton {
  float: right;
}

.no-decoration {
  text-decoration: none;
}

.thumbnail-image {
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  display: block;
  height: 50px;
  width: 50px;
}
