@import './vars.scss';
body {
  background: url('/public/audience.webp') no-repeat center center;
  margin: 50px auto;
  max-width: 1024px;
  width: 70%;
}

table,
form,
main {
  background: white;
  border-radius: 5px;
}

a,
button {
  cursor: pointer;
}

button {
  background-color: $button-bg;
  &:hover {
    background-color: $button-hover;
  }
  @include bradius;
  border: $button-border;
  box-shadow: none;
  padding: $button-padding;
  transition: all $ttime;
  &:hover {
    transition: all $ttime;
  }
}

form,
main {
  padding: 20px;
  margin-top: 20px;
}

h1 {
  border-bottom: 2px solid $link-hover;
  margin: 10px auto;
  padding: 10px 30px;
  text-align: center;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 5px;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px 10px !important;
  margin-bottom: 25px;
}

textarea {
  width: 300px;
  height: 100px;
}

button {
  margin-top: 10px;
}

.formItem {
  .errorMsg {
    font-size: 11px;
    color: red;
  }
}

.rightNote {
  font-size: 90%;
  text-align: right;
}
