@import './vars.scss';
body {
  background: url('/public/rainbow_bg.webp') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1024px;
  width: 70%;
}

table,
form,
main {
  background: white;
  border-radius: 140px;
  padding-top: 25px;
}

a,
button {
  cursor: pointer;
}

button {
  background-color: $button-bg;
  &:hover {
    background-color: $button-hover;
  }
  @include bradius;
  border: $button-border;
  box-shadow: none;
  padding: $button-padding;
  transition: all $ttime;
  &:hover {
    transition: all $ttime;
  }
}

form {
  margin: 0 auto;
  width: 50%;
}

h1 {
  margin: 10px auto 0;
  padding: 10px 30px;
  text-align: center;
}

main h1 {
  margin-top: 0;
  padding-top: 0;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 5px;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  padding: 10px 20px !important;
  width: 100%;
}

textarea {
  height: 100px;
}

.form-item {
  position: relative;
  .errorMsg {
    @include bradius;
    color: red;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
  &:visited {
    color: $link-visited;
  }
  &:active {
    color: $link-active;
  }
}

button {
  margin-top: 10px;
}

.button {
  @include bradius;
  background-color: $link-color;
  color: white;
  font-size: 80%;
  padding: 5px 10px;
  text-decoration: none;
  transition: all $ttime;
  &:hover {
    background-color: $link-hover;
    transition: all $ttime;
  }
}
.formItem {
  .errorMsg {
    font-size: 11px;
    color: red;
  }
}

.rainbow-line {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  height: 2px;
  margin: 0 auto 15px;
  width: 90%;
}
.rightNote {
  display: block;
  font-size: 90%;
  text-align: right;
}

.no-decoration {
  text-decoration: none;
}
.thumbnail-image {
  @include bradius;
  background-position: center center;
  background-size: cover;
  display: block;
  height: 50px;
  width: 50px;
}
