@mixin bradius {
  border-radius: 5px;
}

$link-color: #8c2c79;
$link-active: $link-color;
$link-hover: #bc3ea3;
$link-visited: $link-color;
$bg-color: white;

$table-header-bg: #f79146;
$table-border: $link-hover;
$table-row: #f5e1d2;
$table-row-hover: #f3c09b;

$ttime: 0.3s;

$button-bg: #8c2c79;
$button-hover: #bc3ea3;
$button-border: 1px solid white;
$button-padding: 10px 20px;

$nav-item-color: white;
